.navbar {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
  border-radius: 2px;
}

.navbar:hover {
  opacity: 1;
}

.card-title {
  text-decoration-line:underline;
  text-decoration-color:#147ab9
}

#brand {
  font-size: 1.85rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand:hover {
  text-shadow: 2px 2px 8px black;
}

.imagedisplay {
  background-color: #2548bb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
}

.imagedisplay h1 {
  font-size: 3.75rem;
  color: white;
  text-shadow: 6px 6px 6px black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutsection h1 {
  padding-top:40px;
  display: block;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid rgba(3, 87, 204, 0.8);
  width: 50%;
  color: #4b4747;
}

.links {
  text-align: center;
  margin-top:20px;
  margin-bottom:50px;
}

.links a {
  text-decoration-line: none;
  border: 2px solid #037ef8;
  width:250px;
  padding-top:20px;
  padding-bottom:20px;
  color: #037ef8;
  background: white;
  font-weight: bold;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0);
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
  display: inline-block;
}

.links a:hover {
  color: white;
  border: 2px solid #000000;
  background: #037ef8;
}

.skillsection h1 {
  display: flex;
  justify-content: center;
  color: #4b4747;
}

.featuredprojects {
  background-color: #29323f;
}

.featuredprojects h1 {
  padding-top: 40px;
  color:white;
  display: flex;
  justify-content: center;
}

.projectsforfun h1 {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  color: #4b4747;
}

.contactpage {
  background: #2985be;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
  padding-top: 40px;
}

.changetextcolour {
  text-align: center;
  color: white;
  padding-bottom: 25px;
}

.changeWidth {
  text-align: left;
}

form {
  text-align: center;
  border-radius: none;
  margin: 0;
}

#button1 {
  margin-bottom: 10px;
  background: white;
  z-index: 1;
  color: #1f82c0;
  font-weight: bold;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  cursor: pointer;
}

#button1:hover {
  border-radius: 8px;
  transition: all ease-out 0.75s;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.24), 0 40px 80px 0 rgba(0, 0, 0, 0);
  color: #37abf3;
}

.changeWidth {
  width: 350px;
  background: rgba(26, 70, 131, 0.8);
  border: none;
  color: white;
  z-index: 1;
  padding-left: 2px;
  margin: auto;
}

form textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  padding-bottom: 100px;
  z-index: 1;
}

::placeholder {
  color: white;
}

input:focus {
  background-color: rgba(26, 70, 131, 1);
}

textarea:focus {
  background-color: rgba(26, 70, 131, 1);
}

.infoforcontact {
  color: white;
  text-align: center;
  padding-bottom: 65px;
}

a.anchor{
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

#logo {
  display: inline-block;
  background: url("../../portfolio/public/Images/css_sprites.png") -10px -10px;
  width: 60px;
  height: 60px;
}

#logo:hover {
  background-position: -90px -10px;
}

.footer{
  text-align:center;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .links #linkedin{
    margin-bottom:30px;
  }
}
