.navbar {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  z-index: 1;
  border-radius: 2px;
  height:80px;
  background-color:#111111;
}

.navbar:hover {
  opacity: 1;
}

.card-title {
  text-decoration-line:underline;
  text-decoration-color:#0D6EFD;
}

#brand {
  font-size: 1.85rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imagedisplay {
  background-color: #2548bb;
  background-image: url("../public/Images/backg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centerdiv{
  max-width: 800px;
  max-height:700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 40px;
}

.aboutsection h1 {
  padding-top:40px;
  display: block;
  margin: auto;
  text-align: center;
  border-bottom: 1px solid rgba(116, 174, 255, 0.8);
  width: 50%;
  color: white;
}

.aboutsection{
  color:white;
}

.links {
  text-align: center;
  margin-bottom:10px;
}

.links a {
  text-decoration-line: none;
  width:250px;
  padding-top:20px;
  padding-bottom:20px;
  color: white;
  background: #177cff;
  font-weight: bold;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  display: inline-block;
  border-radius: 30px;
}

.links a:hover {
  background: #0066ff
}

.skillsection h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.featuredprojects h1 {
  padding-top: 40px;
  color:white;
  display: flex;
  justify-content: center;
}

.projectsforfun h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.contactpage {
  background: #272727;
  padding-top: 40px;
}

.changetextcolour {
  text-align: center;
  color: white;
  padding-bottom: 25px;
}

.changeWidth {
  text-align: left;
}

form {
  text-align: center;
  border-radius: none;
  margin: 0;
}

#button1 {
  margin-bottom: 10px;
  background: #0D6EFD;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  border:none;
  cursor: pointer;
}

#button1:hover {
  background:#0059ff;
}

.changeWidth {
  width: 350px;
  background: rgb(48, 48, 48);
  border: none;
  color: white;
  z-index: 1;
  padding-left: 2px;
  margin: auto;
}

form textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  padding-bottom: 100px;
  z-index: 1;
}

::placeholder {
  color: white;
}

.infoforcontact {
  color: white;
  text-align: center;
  padding-bottom: 65px;
}

.anchor{
  display: block;
  position: relative;
  visibility: hidden;
}

#jumptoforfun{
  top: -90px;
}

#jumptofeatured{
  top: -50px;
}

#jumptoskills{
  top: -90px;
}

#jumptocontact{
  top: -90px;
}

#logo {
  display: inline-block;
  background: url("../../portfolio/public/Images/css_sprites.png") -10px -10px;
  width: 60px;
  height: 60px;
}

#logo:hover {
  background-position: -90px -10px;
}

.footer{
  text-align:center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card{
  background-color:#2C2F33;
  color:white;
}

@media screen and (max-width: 800px) {
  .links #linkedin{
    margin-bottom:30px;
  }
}
